
    html, body {
        margin: 0px;
        padding: 0px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 20px;
    }

    .score
    {
        text-align: left;
        width: 100%;
        border-collapse: collapse;
    }

    .score th
    {
        padding: 8px;
        font-weight: bold;
        color: #039;
        background: #b9c9fe;
    }
    .score td
    {
        padding: 8px;
        background: #e8edff;
        border-top: 1px solid #fff;
        color: #669;
    }

    .score tbody tr:hover td
    {
        background: #d0dafd;
    }

    #status {
        font-size: 14px;
        font-style:italic;
        color: #777;
    }
    .template { display:none }

    .popup {
        background-color:#fff;
        border-radius:15px;
        color:#000;
        display:none;
        padding:20px;
        font-size: 15px;
    }

    .bClose {
        border-radius: 7px 7px 7px 7px;
        background-color: #b9c9fe;
        font: bold 131% sans-serif;
        padding: 0 6px 2px;
        position: absolute;
        right: -7px;
        top: -7px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        color: white;
        cursor: pointer;
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        border: 1px solid white;
    }
